.idea/TelegramoBot.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.ngrok.exe.old
ngrok.exe
Новая папка_IP/webhook_cert.pem
Новая папка_IP/webhook_pkey.pem
Новая папка_local/webhook_cert.pem
Новая папка_local/webhook_pkey.pem
.idea/vcs.xml
*.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/JekaFSTbot.iml
