<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Author EN engine helper</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <style>
            .details summary { /* строки-заголовок для клика */
                position: relative;
                background: #4e6473;
                padding: 2px 10px;
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
            }
            .details summary::-webkit-details-marker { /* треугольник */
                position: absolute;
                right: 10px;
                top: 30%;
            }
            .details[open] summary { /* цвет строки-заголовка в открытом виде */
                background: #c0c0c0;
            }
        </style>
</head>
<body>
    <div class="container">
        <div id="all_en_helpers">
            <div class="row">
                <div class="col-sm-3 col-md-3 sidebar">
                    <h4 align="center"><b>МЕНЮ</b></h4>
                </div>
                <div class="col-sm-9 main">
                    По всем вопросам можно писать @JekaFST в телеграм.<br>
                    <b>Также в аренду сдается игровой бот. <a href="https://jekafstbot.herokuapp.com/instruction" target="_blank">Инструкция</a>.</b><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 sidebar">
                    <ul class="nav nav-sidebar">
                        <li v-for="app in apps">
                              <button type="button" class="btn btn-sm btn-info col-sm-10"
                                v-bind:key="app.name"
                                v-bind:class="{ selected: app.name === selected_app.name }"
                                v-on:click="selected_app = app"
                              >
                                {{ app.name }}
                              </button>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 main">
                    <div v-if="selected_app">
                        <h3>{{ selected_app.name }}</h3>
                        <div v-html="selected_app.content"></div>
                        <component
                          class="tab"
                          v-bind:is="selected_app_component"
                          v-bind:app="selected_app"
                          v-bind:data="selected_app_data"
                        ></component>
                    </div>
                    <strong v-else>
                    <h3>Выберите действие из меню слева</h3>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <!-- hidden for Vue components -->
    <div id="component-заполнить_движок" hidden="true">
        <div>
            <small-modal v-if="show_error" @close="show_error = false; error_text = ''">
                <h3 class="text-center" slot="header">Error</h3>
                <div slot="body">
                    <div v-if="error_text"> {{ error_text }} </div>
                </div>
            </small-modal>

            <form id="fill_engine" role="form">
                <div>
                    <details>
                        <summary>Инструкция</summary>
                        Заполнение движка происходит из гуглдока. <a href="https://docs.google.com/spreadsheets/d/16--OmJQr9DeGCfLb3H19ddVJ0mp9UsiypX2xg67im6E" target="_blank">Шаблон гуглдока</a><br>
                        Создайте у себя копию гуглдока, чтобы из нее заполнять движок. Откройте доступ по ссылке хотя бы для чтения (либо всем, либо для jekafst@gmail.com. Скрипт читает гуглдок от этого пользователя).<br><br>
                        В гуглдоке есть набор листов для создания соответствующих объектов уровней (заданий, секторов, подсказок, бонусов, штрафных подсказок) и заполнения деталей уровня.<br><br>
                        <b>ВАЖНО:</b><br>
                        Скрипт не создает уровни в движке. Перед заполнением - создайте нужное количество уровней вручную.<br>
                        Удалять листы гуглдока и менять порядок колонок нельзя.<br>
                        Каждая строка гуглдока создает 1 объект в движке.<br>
                        Обязательные колонки отмечены звездочкой.<br><br>
                    </details>
                    <details>
                        <summary>Пример айди гуглдока</summary>
                        <img src="googledocid">
                   </details>
                </div>
                <div>
                    <h4>Конфигурация:</h4>
                    <table>
                        <tr>
                            <td>
                                <input type="text" name="login" placeholder="Логин" class="form-control" v-model="login">
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Пароль" class="form-control" v-model="password">
                            </td>
                            <td>
                                <input type="text" name="domain" placeholder="Домен" class="form-control" v-model="domain">
                            </td>
                            <td>
                                <input type="text" style="width: 90px" name="game_id" placeholder="ID игры" class="form-control" v-model="game_id">
                            </td>
                        </tr>
                    </table>
                </div>
                <div><br>
                    <label>Введите ID гуглдока для заполнения:
                        <input type="text" style="width: 400px" name="gdoc_id" class="form-control text-left" v-model="gdoc_id">
                    </label>
                </div>
                <button @click.prevent="fill_engine(login, password, domain, game_id, gdoc_id)">Запустить заполнение игры</button>
                <logger-component v-bind:data="data"></logger-component>
            </form>
        </div>
    </div>

    <div id="component-очистить_движок" hidden="true">
        <div>
            <small-modal v-if="show_error" @close="show_error = false; error_text = ''">
                <h3 class="text-center" slot="header">Error</h3>
                <div slot="body">
                    <div v-if="error_text"> {{ error_text }} </div>
                </div>
            </small-modal>

            <form id="clean_engine" role="form">
                <div>
                    <details>
                        <summary>Инструкция</summary>
                        Все настройки для очистки движка находятся на этой странице.<br>
                        Вы можете очищать отдельные уровни выборочно или все уровни сразу.<br>
                        Для каждого из вышеуказанных вариантов необходимо выбрать какие объекты удалять.<br><br>
                        Скрипт поддерживает удаление:
                        <ol>
                            <li>Секторов (Да - удалять. Нет - не удалять). Доступно удаление только всех секторов уровня.</li>
                            <li>Подсказок.</li>
                            <li>Бонусов.</li>
                            <li>Штрафных подсказок.</li>
                        </ol>
                        Если поле для подсказок (в т.ч. штрафных) или бонусов оставить пустым - удаление соответствующих объектов выполнено не будет.<br>
                        При очистке всех уровней настройки секторов, подсказок и бонусов будут применены к каждому уровню игры.<br>
                        При выборочной чистке уровней - можно задавать объекты на удаление по каждому уровню.<br>
                        При выборе подсказок и бонусов для удаления можно написать 'все' (удаляться все объекты на уровне) или указать конкретные номера, через / без пробелов (удалятся перечисленные объекты).<br>
                        В случае указания конкретных объектов на удаление при чистке всех уровней, необходимо, чтобы в каждом уровне игры были объекты с указанными номерами.
                    </details>
                </div><br>
                <div>
                    <h4>Конфигурация:</h4>
                    <table>
                        <tr>
                            <td>
                                <input type="text" name="login" placeholder="Логин" class="form-control" v-model="login">
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Пароль" class="form-control" v-model="password">
                            </td>
                            <td>
                                <input type="text" name="domain" placeholder="Домен" class="form-control" v-model="domain">
                            </td>
                            <td>
                                <input type="text" style="width: 90px" name="game_id" placeholder="ID игры" class="form-control" v-model="game_id">
                            </td>
                        </tr>
                    </table>
                </div><br>
                <div>
                    <label>Очистить все уровни</label>
                    <select style="width: 100px" class="form-control" v-model="clean_all">
                        <option v-for="flag_value in flag_values">{{flag_value}}</option>
                    </select>
                </div>
                <div v-if="clean_all === 'Нет'">
                    <table>
                        <tr>
                            <td>
                                <label>№ уровня</label>
                            </td>
                            <td>
                                <label>Сектора</label>
                            </td>
                            <td>
                                <label>Подсказки</label>
                            </td>
                            <td>
                                <label>Бонусы</label>
                            </td>
                            <td>
                                <label>Штрафные подсказки</label>
                            </td>
                        </tr>
                        <tr v-for="level in levels">
                            <td>
                                <input type="text" style="width: 150px" name="level_number" class="form-control" v-model="level.level_number" placeholder="номер уровня">
                            </td>
                            <td>
                                <select class="form-control" v-model="level.sectors">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="helps" class="form-control" v-model="level.helps" placeholder="все или 1/2/3/...">
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="bonuses" class="form-control" v-model="level.bonuses" placeholder="все или 1/2/3/...">
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="pen_helps" class="form-control" v-model="level.pen_helps" placeholder="все или 1/2/3/...">
                            </td>
                        </tr>
                    </table>
                    <button @click.prevent="add_level()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <button @click.prevent="delete_level()" v-if="levels.length > 1" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </div>
                <div v-else>
                    <table>
                        <tr>
                            <td>
                                <label>Сектора</label>
                            </td>
                            <td>
                                <label>Подсказки</label>
                            </td>
                            <td>
                                <label>Бонусы</label>
                            </td>
                            <td>
                                <label>Штрафные подсказки</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" v-model="clean_all_details.sectors">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="helps" class="form-control" v-model="clean_all_details.helps" placeholder="все или 1/2/3/...">
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="bonuses" class="form-control" v-model="clean_all_details.bonuses" placeholder="все или 1/2/3/...">
                            </td>
                            <td>
                                <input type="text" style="width: 150px" name="pen_helps" class="form-control" v-model="clean_all_details.pen_helps" placeholder="все или 1/2/3/...">
                            </td>
                        </tr>
                    </table>
                </div><br>
                <button @click.prevent="clean_engine(login, password, domain, game_id, levels, clean_all, clean_all_details)">Запустить очистку игры</button>
                <logger-component v-bind:data="data"></logger-component>
            </form>
        </div>
    </div>

    <div id="component-перенести_движок" hidden="true">
        <div>
            <small-modal v-if="show_error" @close="show_error = false; error_text = ''">
                <h3 class="text-center" slot="header">Error</h3>
                <div slot="body">
                    <div v-if="error_text"> {{ error_text }} </div>
                </div>
            </small-modal>

            <form id="transfer_engine" role="form">
                <div>
                    <details>
                        <summary>Инструкция</summary>
                        Все настройки для переноса движка находятся на этой странице.<br>
                        Вы можете переносить отдельные уровни выборочно или все уровни (всю игру) сразу.<br>
                        Для каждого из вышеуказанных вариантов необходимо выбрать какие объекты переносить.<br>
                        Скрипт поддерживает перенос:
                        <ol>
                            <li>Настроек самого уровня (название, автопереход, ограничение и т.д.).</li>
                            <li>Задания.</li>
                            <li>Секторов.</li>
                            <li>Подсказок.</li>
                            <li>Бонусов.</li>
                            <li>Штрафных подсказок.</li>
                        </ol>
                        <b>ВАЖНО:</b><br>
                        Скрипт не создает уровни в движке. Перед переносом - создайте нужное количество уровней целевой игры вручную.<br>
                        При успешном переносе каждого объекта в базу записывается его ID. С этого момента этот объект исходной игры не будет переноситься ни в целевую, ни в любую другую игру, до тех пор, пока не будет почищена база.<br>
                        Чистка базы запускается по кнопке внизу страницы. Для этого необходимо указать ID игры. По нажатию этой кнопки ID всех ранее перенесенных объектов исходной игры удаляются из базы. Игру можно переносить снова, без ограничений.<br><br>
                        Под настройками переноса понимается значение в выпадающем списке (Да/Нет) для каждого типа объектов. Да - переносить. Нет - не переносить. Эти настройки применяются ко всем объектам исходного уровня.<br>
                        При переносе всех уровней настройки переноса будут применены к каждому уровню игры.<br>
                        При выборочном переносе уровней - можно задавать настройки переноса по каждому уровню.<br>
                        Номера уровней исходной и целевой игры могут не соответствовать друг другу. В таком случае нужно переносить игру отдельными уровнями. Откуда - исходный уровень, куда - целевой.<br>
                        Возможно копирование уровней в рамках одной игры. Для этого нужно указать одну и ту же игру в настройках. Затем выбрать перенос отдельных уровней и указать откуда и куда пенести объекты.<br><br>
                    </details>
                    <details>
                        <summary>Пример айди игры. Не путать с номером схватки и т.п.</summary>
                        <img src="gameid">
                   </details>
                </div><br>
                <div>
                    <h4>Конфигурация:</h4>
                    <table>
                        <tr>
                            <td>Конфигурация переносимой игры</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="login" placeholder="Логин" class="form-control" v-model="s_login">
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Пароль" class="form-control" v-model="s_password">
                            </td>
                            <td>
                                <input type="text" name="domain" placeholder="Домен" class="form-control" v-model="s_domain">
                            </td>
                            <td>
                                <input type="text" style="width: 90px" name="game_id" placeholder="ID игры" class="form-control" v-model="s_game_id">
                            </td>
                        </tr>
                        <tr>
                            <td>Конфигурация целевой игры</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="login" placeholder="Логин" class="form-control" v-model="tg_login">
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Пароль" class="form-control" v-model="tg_password">
                            </td>
                            <td>
                                <input type="text" name="domain" placeholder="Домен" class="form-control" v-model="tg_domain">
                            </td>
                            <td>
                                <input type="text" style="width: 90px" name="game_id" placeholder="ID игры" class="form-control" v-model="tg_game_id">
                            </td>
                        </tr>
                    </table>
                </div><br>
                <div>
                    <label>Перенести все уровни</label>
                    <select style="width: 100px" class="form-control" v-model="move_all">
                        <option v-for="flag_value in flag_values">{{flag_value}}</option>
                    </select>
                </div>
                <div v-if="move_all === 'Да'">
                    <table>
                        <tr>
                            <td>
                                <label>Уровень</label>
                            </td>
                            <td>
                                <label>Задание</label>
                            </td>
                            <td style="width: 90px">
                                <label>Подсказки</label>
                            </td>
                            <td>
                                <label>Бонусы</label>
                            </td>
                            <td>
                                <label>Сектора</label>
                            </td>
                            <td>
                                <label>Штрафные подсказки</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" v-model="move_all_details.level">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="move_all_details.task">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="move_all_details.helps">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="move_all_details.bonuses">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="move_all_details.sectors">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="move_all_details.pen_helps">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div v-else>
                    <table>
                        <tr>
                            <td>
                                <label>Откуда</label>
                            </td>
                            <td>
                                <label>Куда</label>
                            </td>
                            <td>
                                <label>Уровень</label>
                            </td>
                            <td>
                                <label>Задание</label>
                            </td>
                            <td style="width: 90px">
                                <label>Подсказки</label>
                            </td>
                            <td>
                                <label>Бонусы</label>
                            </td>
                            <td>
                                <label>Сектора</label>
                            </td>
                            <td>
                                <label>Штрафные подсказки</label>
                            </td>
                        </tr>
                        <tr v-for="level in levels">
                            <td>
                                <input type="text" style="width: 90px" name="source_ln" class="form-control" v-model="level.source_ln" placeholder="№ уровня">
                            </td>
                            <td>
                                <input type="text" style="width: 90px" name="target_ln" class="form-control" v-model="level.target_ln" placeholder="№ уровня">
                            </td>
                            <td>
                                <select class="form-control" v-model="level.level">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="level.task">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="level.helps">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="level.bonuses">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="level.sectors">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" v-model="level.pen_helps">
                                    <option v-for="flag_value in flag_values">{{flag_value}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button @click.prevent="add_level()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <button @click.prevent="delete_level()" v-if="levels.length > 1" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </div><br>
                <div>
                    <button @click.prevent="transfer_engine(s_login, s_password, s_domain, s_game_id, tg_login, tg_password, tg_domain, tg_game_id, move_all, move_all_details, levels)">Запустить перенос игры</button><br><br>
                    <label>Введите ID игры для чистки перенесенных объектов:
                        <input type="text" style="width: 400px" name="game_id_to_clean" class="form-control text-left" v-model="game_id_to_clean">
                    </label><br>
                    <button @click.prevent="clean_transfer(game_id_to_clean)">Запустить чистку перенсенных объектов</button>
                </div>
                <logger-component v-bind:data="data"></logger-component>
            </form>
        </div>
    </div>

    <div id="logger-component" hidden="true">
        <div>
            <div v-if="data.status">Статус: {{ data.status }} </div>
            <details v-if="data.debug_info && data.debug_info.length">
            <summary>Debug message</summary>
            <pre><div v-for="debug_row in data.debug_info">{{debug_row}}</div></pre>
            </details>
            <div v-if="data.messages && data.messages.length">Лог:
                <pre><div v-for="message in data.messages">{{message}}</div></pre>
            </div>
        </div>
    </div>

    <div id="bootstrap-small-modal-template" hidden="true">
        <transition name="small-modal">
            <div id="my_small_modal" class="modal fade in" role="dialog" style="display: block;">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" @click.prevent="$emit('close')">&times;</button>
                            <slot name="header">
                            </slot>
                        </div>
                        <div class="modal-body">
                            <slot name="body">
                            </slot>
                        </div>
                        <div class="modal-footer">
                            <form class="form-inline" role="form">
                                <slot name="footer">
                                </slot>
                                <button type="button" class="btn btn-default center-block" @click.prevent="$emit('close')">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <script>
        <!--const base_url = "http://localhost:443"-->
        const base_url = "https://jekafstbot.herokuapp.com"

        Vue.component('small-modal', {
          template: '#bootstrap-small-modal-template'
        })

        Vue.component('logger-component',{
          props: ['data'],
          template: "#logger-component",
        })

        Vue.component('component-заполнить_движок', {
          template: "#component-заполнить_движок",
          props: ['app', 'data'],
          data: function () {
            return {
                login: '',
                password: '',
                domain: '',
                game_id: '',
                gdoc_id: '',
                show_error: false,
                error_text: '',
            }
          },
          created: function () {
            this.app.get()
          },
          methods: {
            fill_engine: function (login, password, domain, game_id, gdoc_id) {
              if (!login){
                this.show_error = true;
                this.error_text = 'Логин не заполнен'
              }
              else if (!password){
                this.show_error = true;
                this.error_text = 'Пароль не заполнен'
              }
              else if (!domain){
                this.show_error = true;
                this.error_text = 'Домен не заполнен'
              }
              else if (!game_id){
                this.show_error = true;
                this.error_text = 'ID игры не заполнен'
              }
              else if (!gdoc_id){
                this.show_error = true;
                this.error_text = 'ID гуглдока не заполнен'
              }
              else {
                this.app.post({
                  login: login,
                  password: password,
                  domain: domain,
                  game_id: game_id,
                  gdoc_id: gdoc_id,
                })
              }
            }
          },
        })

        Vue.component('component-очистить_движок', {
          template: "#component-очистить_движок",
          props: ['app', 'data'],
          data: function () {
            return {
                login: '',
                password: '',
                domain: '',
                game_id: '',
                clean_all: 'Нет',
                clean_all_details: {sectors: 'Нет', helps: '', bonuses: '', pen_helps: ''},
                levels: [{level_number: '', sectors: 'Нет', helps: '', bonuses: '', pen_helps: ''}],
                flag_values: ['Да', 'Нет'],
                show_error: false,
                error_text: '',
            }
          },
          created: function () {
            this.app.get()
          },
          methods: {
            add_level: function (){
              this.levels.push({level_number: '', sectors: 'Нет', helps: '', bonuses: '', pen_helps: ''})
              },
            delete_level: function (){
              this.levels.pop()
              },
            clean_engine: function (login, password, domain, game_id, levels, clean_all, clean_all_details) {
              if (!login){
                this.show_error = true;
                this.error_text = 'Логин не заполнен'
              }
              else if (!password){
                this.show_error = true;
                this.error_text = 'Пароль не заполнен'
              }
              else if (!domain){
                this.show_error = true;
                this.error_text = 'Домен не заполнен'
              }
              else if (!game_id){
                this.show_error = true;
                this.error_text = 'ID игры не заполнен'
              }
              else {
                if (clean_all == 'Нет') {
                  for (var i = 0; i < levels.length; ++i)
                    if (!levels[i].level_number) {
                      this.show_error = true;
                      this.error_text = 'Номер уровня для одной из строк не задан'
                      return;
                    }
                  this.app.post({
                    login: login,
                    password: password,
                    domain: domain,
                    game_id: game_id,
                    levels: levels,
                    clean_all: false,
                  })
                }
                else {
                  this.app.post({
                    login: login,
                    password: password,
                    domain: domain,
                    game_id: game_id,
                    clean_all: true,
                    clean_all_details: clean_all_details,
                  })
                }
              }
            }
          },
        })

        Vue.component('component-перенести_движок', {
          template: "#component-перенести_движок",
          props: ['app', 'data'],
          data: function () {
            return {
                s_login: '',
                s_password: '',
                s_domain: '',
                s_game_id: '',
                tg_login: '',
                tg_password: '',
                tg_domain: '',
                tg_game_id: '',
                move_all: 'Да',
                move_all_details: {level: 'Да', task: 'Да', helps: 'Да', bonuses: 'Да', sectors: 'Да', pen_helps: 'Да'},
                levels: [{source_ln: '',target_ln: '', level: 'Да', task: 'Да', helps: 'Да', bonuses: 'Да', sectors: 'Да', pen_helps: 'Да'}],
                game_id_to_clean: '',
                flag_values: ['Да', 'Нет'],
                show_error: false,
                error_text: '',
            }
          },
          created: function () {
            this.app.get()
          },
          methods: {
            add_level: function (){
              this.levels.push({source_ln: '',target_ln: '', level: 'Да', task: 'Да', helps: 'Да', bonuses: 'Да', sectors: 'Да', pen_helps: 'Да'})
              },
            delete_level: function (){
              this.levels.pop()
              },
            transfer_engine: function (s_login, s_password, s_domain, s_game_id, tg_login, tg_password, tg_domain, tg_game_id, move_all, move_all_details, levels) {
              if (!s_login){
                this.show_error = true;
                this.error_text = 'Логин исходной игры не заполнен'
              }
              else if (!s_password){
                this.show_error = true;
                this.error_text = 'Пароль исходной игры не заполнен'
              }
              else if (!s_domain){
                this.show_error = true;
                this.error_text = 'Домен исходной игры не заполнен'
              }
              else if (!s_game_id){
                this.show_error = true;
                this.error_text = 'ID игры исходной игры не заполнен'
              }
              else if (!tg_login){
                this.show_error = true;
                this.error_text = 'Логин целевой игры не заполнен'
              }
              else if (!tg_password){
                this.show_error = true;
                this.error_text = 'Пароль целевой игры не заполнен'
              }
              else if (!tg_domain){
                this.show_error = true;
                this.error_text = 'Домен целевой игры не заполнен'
              }
              else if (!tg_game_id){
                this.show_error = true;
                this.error_text = 'ID игры целевой игры не заполнен'
              }
              else {
                if (move_all == 'Да') {
                  this.app.post({
                    s_login: s_login,
                    s_password: s_password,
                    s_domain: s_domain,
                    s_game_id: s_game_id,
                    tg_login: tg_login,
                    tg_password: tg_password,
                    tg_domain: tg_domain,
                    tg_game_id: tg_game_id,
                    move_all: true,
                    move_all_details: move_all_details,
                  })
                }
                else {
                  for (var i = 0; i < levels.length; ++i)
                    if (!levels[i].source_ln || !levels[i].target_ln) {
                      this.show_error = true;
                      this.error_text = 'Номер исходного или целевого уровня для одной из строк не задан'
                      return;
                    }
                  this.app.post({
                    s_login: s_login,
                    s_password: s_password,
                    s_domain: s_domain,
                    s_game_id: s_game_id,
                    tg_login: tg_login,
                    tg_password: tg_password,
                    tg_domain: tg_domain,
                    tg_game_id: tg_game_id,
                    move_all: false,
                    levels: levels,
                  })
                }
              }
            },
            clean_transfer: function (game_id_to_clean) {
              if (!game_id_to_clean) {
                this.show_error = true;
                this.error_text = 'ID игры для чистки перенесенных объектов не задан'
              }
              else {
                this.app.post({
                  game_id_to_clean: game_id_to_clean,
                })
              }
            }
          },
        })

        var app = new Vue({
          el: '#all_en_helpers',

          data: {
            apps: {},
            selected_app_data: {},
            selected_app: false,
            form_data: {},
            shedulers: [],
            need_update: false
          },

          watch: {
            need_update: 'set_update_timeout',
            'selected_app_data.status': 'set_update_timeout',
            'selected_app': 'clear_intervals'
          },

          computed: {
            selected_app_component: function () {
              return 'component-' + this.selected_app.name.toLowerCase().replace(/[ :]/g,'_')
            }
          },

          created: function () {
            this.fetch_all_apps()
          },

          beforeDestroy: function () {
            this.shedulers.map(function (interval) {
              clearInterval(interval)
            })
          },

          methods: {
            clear_intervals: function() {
            this.shedulers.map(function (interval) {
              clearInterval(interval)
            })
            },
            set_update_timeout: function(val, oldVal) {
              if (val != '_') {
                  while(interval_id=this.shedulers.pop()){
                      clearInterval(interval_id)
                  }
                  var timeout = 0
                  if (val == 'Выполнено' && this.need_update == false) {
                    timeout = 180000
                  } else if (val == 'Ошибка' && this.need_update == false) {
                    timeout = 180000
                  } else {
                    timeout = 30000
                    this.need_update = false
                  }
                  this.shedulers.push(setInterval(this.selected_app.get, timeout))
              }
            },
            fetch_data: function(url, data) {
              var self = this
              fetch(url, data).then(function(response){
                self._request = false
                if (response.status == 200) {
                  response.json().then(function (data) {
                    self.selected_app_data = data
                  })
                } else {
                  response.text().then(function (data) {
                    alert("Code from server: " + response.status + " text: " + data)
                  })
                }
              }).catch(function(ex) {
                console.log('Request failed failed:', ex);
              });
            },

            get_app_data: function(app_name) {
              this.fetch_data(base_url + "/builder/" + app_name, {
                method: 'get',
                headers: {
                  'Content-Type': 'application/json; charset=utf-8'
                },
              });
            },

            post_app_data: function(app_name, app_data) {
              this.need_update = true
              setTimeout(this.get_app_data, 50, app_name)
              this.fetch_data(base_url + "/builder/" + app_name, {
                method: 'post',
                headers: {
                  'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(app_data)
              });
            },

            fetch_all_apps: function () {
              var self = this
              fetch(base_url + "/apps").then(function (resp) {
                return resp.json()
              }).then(function (apps) {
                self.apps = {}
                Object.keys(apps).map(function(objectKey, index) {
                  var app = apps[objectKey];
                  app['get'] = function () {self.get_app_data(app['name'])}
                  app['post'] = function (data) {self.post_app_data(app['name'], data)}
                  self.apps[objectKey] = app
                })
              }).catch(function(ex) {
                console.log('Parsing failed:', ex);
              });
            },
          }
        })
    </script>
</body>
</html>