<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Instruction</title>
</head>
<body>
<details>
    <summary><b>Введение</b></summary>
    Бот сдается в аренду, в связи с чем есть ограничения на его использование.<br>
    Для начала чат, где он запускается, должен быть в списке разрешенных. Подать заявку на разрешение можно командой /ask_for_permission<br>
    Для указания игры - она также должна быть разрешена. Команда /ask_to_add_gameid + пробел + id игры.<br>
    По вопросам использования бота пишите @JekaFST в телеграме<br><br>
</details>
<details>
    <summary><b>Начало работы. Настройка бота</b></summary>
    Если чат разрешен (см. введение), то можно начинать работу с ботом.<br>
    По команде /start создается объект "сессия", содержащий всю информацию об учетке, домене, игре и текущих игровых переменных, таких как списки отправленных бонусов, подсказок, секторов и т.п.<br>
    Также в сессии записывается следующие настройки: активна ли сама сессии, запущено ли слежение, включен ли постинг в канал.<br>
    Для работы с движком нужны логин и пароль к сети Encounter. Задаются командами /login и /password. Значения задаются через пробел<br>
    Задать логин и пароль можно из личного чата. Для этого надо в чате игры выполнить команду /join. Затем можно задавать логин/пароль в личном чате<br>
    Также необходимо задать домен и айди игры. Задаются командами /domain и /gameid. Значения задаются через пробел, на айди игры требуется разрешение. Домен можно прописать без http://<br>
    Посмотреть текущую конфигурацию можно по команде /config<br><br>
</details>
<details>
    <summary><b>Запуск бота</b></summary>
    По команде /start_session - существующая сессия становится активной, бот логинится и получает информацию о текущем состоянии игры.<br>
    При активной сессии бот выполняет команды из игрового чата, может отправлять коды в игровой движок.<br>
    Список команд доступен по команде /help.<br>
    По команде /stop_session - существующая сессия становится неактивной, остановливается слежение и постинг в канал, если они были запущены. Сбрасываются все джойны личных чатов. Данные о текущих игровых переменных не стираются.<br>
    При выключенной сессии бот будет игнорировать команды из чата, за исключением обработки координат, изменения конфигурации и команд для работы с live locations.<br><br>
</details>
<details>
    <summary><b>Слежение за движком</b></summary>
    Команды /start_updater & /stop_updater запускают и останавливают слежение.<br>
    При активанном слежении бот с периодичностью в несколько секунд опрашивает движок о текущем состоянии игры, сравнивает с имеющейся у него информацией и отправляет изменения в игровой чат.<br>
    Бот отслеживает следующие изменения: АП уровня, получение подсказок, закрытые сектора, бонусные задания и взятые бонусы, сообщения авторов, снятие уровней.<br><br>
</details>
<details>
    <summary><b>Постинг в канал</b></summary>
    Команды /start_channel & /stop_channel запускают и останавливают постинг а канал.<br>
    Для работы постинга в канал - канал должен быть публичным, боту надо прописать имя канала командой /set_channel_name. Значение задается через пробел. Можно вводить без @<br>
    Бот пересылает в канал информацию об АПе, текст задания, посдсказки и сообщения авторов.<br>
    Бот должен быть админимтратором канала.<br><br>
</details>
<details>
    <summary><b>Настройка сдачи кодов</b></summary>
    Команды /codes_off & /codes_on - выключают и включают отправку кодов в движок.<br>
    Если надо остановить сдачу кодов ботом, из-за скриптов или по требованию авторов - достаточно выключить сдачу соответствующей командой.<br>
    Для сдачи кодов в основное окно нужно отправить в чат сообщение вида !код или ! код или .код или . код<br>
    Если сдача кодов включена (/codes_on) - бот будет считать кодом любое сообщение в чате начинающееся с ! или .<br>
    В случае блокировки ответов на уровне - бот автоматически не отправляет коды из чата в основное окно, но может отправлять в бонусное - через знак ?<br>
    Если ограничения нет - сообщения, начинающиеся со знака ? - тоже будут считаться кодом и пробиваться в основное окно<br>
    При выключенной сдаче кодов (/codes_off) - коды в движок отправляться не будут<br><br>
</details>
<details>
    <summary><b>Дополнительные возможности</b></summary>
    <b><i>Выполнение команд в личном чате</i></b><br>
    Бот позволяет рабоать с игрой, указанной из общего чата, с помощью команд, выполненных в личном чате.<br>
    Запустить эту функцию присоединения можно командой /join, выполненной в чате, где настроен бот. Сдача кодов из личного чата поддерживается.<br>
    Присоединение доступно только к 1 игровому чату. Для сброса присоединения введите /reset_join.<br>
    <b><i>Просмотр всех сданных кодов за игру / уровень</i></b><br>
    Бот запоминает все сданные коды (как сектора, так и бонусы), кроме последнего вбитого сектора, если он введен в джижок напряму.<br>
    Просмотр этих кодов доступен в браузере по команде /get_codes_links.<br><br>
</details>
<details>
    <summary><b>Работа с live locations</b></summary>
    Бот поддерживает отправку до 15-ти live locations. Для этого в игровом чате должны быть боты JekaLocation{N}Bot, где {N} - номер от 1 до 15.<br>
    На линейной игре бот ведет сквозную нумерацию всех координат в рамках уровня. Эти координаты можно отправить как live locations командой /send_ll s3600.<br>
    где s3600 - длительность в секундах ~ 1 часу.<br>
    При каждом АПе live locations останавливаются.<br>
    Есть возможность отредактировать конкретную live location. Команда /edit_ll.<br>
    Для остановки всех live locations по команде введите /stop_ll. Для остановки отдельно взятой - /stop_ll + номер точки, через пробел.<br>
    Также поддерживается постановка до 15-ти любых live locations из чата, а не координат уровня.<br>
    Для этого предусмотрена команда /add_points_ll. Формат координат - градусы.доли градуса<br>
    <i>Пример:</i><br>
    /add_points_ll s18000<br>
    1 - корды<br>
    2 - корды<br>
    ...<br>
    n - корды<br>
    где s18000 - длительность в секундах ~ 5 часам.<br>
    Длительность можно выставлять в диапазоне от 60 до 86400 секунд<br>
    Этой же командой можно добавлять или менять точки. Если по написанной точке уже стоит live location он будет перепоставлен. Если не стоит - добавлен.<br><br>
</details>
<details>
    <summary><b>Штурмовой движок</b></summary>
    При штурмовой игре поддерживается следующий функционал:<br>
    - сдача кодов в виде: !номер уровня!код или .номер уровня!код | ?номер уровня?код<br>
    - следующие команды*: /task, /sectors, /hints, /last_hint, /bonuses, /unclosed_bonuses, /messages<br>
    * <i>номер штурмового уровня вводится после команды, через пробел</i>
</details>
</body>
</html>