<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Game details builder form</title>
    <style>
       #googledoc {
        width: 400px;
       }
    </style>
    <script>
        function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }

        function run_builder(fill) {
            var googledoc = document.getElementById("googledoc").value;
            if (googledoc == '') {
                document.getElementById("builderstatus").innerHTML = 'Введите айди гуглдока';
                return
            }
            var xmlhttp = getXmlHttp();
            if (fill == 1) {
                xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/' + googledoc + '?fill=1', true);
            }
            else {
                xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/' + googledoc + '?fill=0', true);
            }
            xmlhttp.send();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) {
                    if(xmlhttp.status == 200) {
                        if (xmlhttp.responseText == 'Previous is in progress') {
                            document.getElementById("builderstatus").innerHTML = 'Выполнение предыдущего запуска еще не закончено. Нельзя запустить повторно.';
                        } else if (xmlhttp.responseText == 'Not started') {
                            if (fill == 1) {
                                document.getElementById("builderstatus").innerHTML = 'Заполнение движка не запущено. Сообщите @JekaFST в телеграмме.';
                            }
                            else {
                                document.getElementById("builderstatus").innerHTML = 'Чистка движка не запущена. Сообщите @JekaFST в телеграмме.';
                            }
                            document.getElementById("launchid").innerHTML = '';
                        } else {
                            if (fill == 1) {
                                document.getElementById("builderstatus").innerHTML = 'Заполнение движка запущено.';
                            }
                            else {
                                document.getElementById("builderstatus").innerHTML = 'Чистка движка запущена.';
                            }
                            document.getElementById("launchid").innerHTML = xmlhttp.responseText;
                        }
                    }
                }
            };
        }

        function get_result() {
            var launch_id = document.getElementById("launchid").innerText;
            var xmlhttp = getXmlHttp();
            xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/result/' + launch_id, true);
            xmlhttp.send(); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) { // Ответ пришёл
                    if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                        var builder_result = xmlhttp.responseText;
                        document.getElementById("answer").innerHTML = builder_result;
                    }
                }
            };
        }
    </script>
</head>
<body>
   <div id="container">
       <a href="https://docs.google.com/spreadsheets/d/16--OmJQr9DeGCfLb3H19ddVJ0mp9UsiypX2xg67im6E" target="_blank">Пример заполнения гуглдока.</a><br>
       Создайте у себя копию гуглдока, чтобы из нее заполнять движок. Откройте доступ по ссылке хотя бы для чтения.<br>
       Либо всем, либо для пользователя jekafst@gmail.com. Скрипт читает гуглдок от этого пользователя.
       <br><br>
       <input type="text" placeholder="Введите айди гуглдока" name="Google sheet id" id="googledoc">
       <button id="builder fill button" onclick="run_builder(1)">Заполнить движок</button>
       <button id="builder del button" onclick="run_builder(0)">Очистить движок</button>
       <br><br>
       <details>
           <summary>Что такое айди гуглдока</summary>
           <img src="googledocid">
       </details>
       <br>
       <button id="result button" onclick="get_result()">Обновить статус заполнения</button>
       <hr>
   </div>
   <div>
       <p>Статус запуска: <span id="builderstatus"></span></p>
       <p>ID запуска: <span id="launchid"></span></p>
       <p>Результат: <span id="answer"></span></p>
   </div>
</body>
</html>