<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Game details builder form</title>
    <style>
       #googledoc {
        width: 400px;
       }
    </style>
    <script>
        function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }
        function run_builder() {
            var googledoc = document.getElementById("googledoc").value;
            var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
            xmlhttp.open('GET', 'https://powerful-shelf-32284.herokuapp.com/builder/' + googledoc, true); // Открываем асинхронное соединение
            xmlhttp.send(); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function() { // Ждём ответа от сервера
            if (xmlhttp.readyState == 4) { // Ответ пришёл
                if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                document.getElementById("answer").innerHTML = xmlhttp.responseText; // Выводим ответ сервера
                }
            }
         };
        }
    </script>
</head>
<body>
   <div id="container">
       <a href="https://docs.google.com/spreadsheets/d/16--OmJQr9DeGCfLb3H19ddVJ0mp9UsiypX2xg67im6E" target="_blank">Пример заполнения гуглдока.</a><br>
       Создайте аналогичный гуглдок, из которого будет заполняться движок.
       <br><br>
       <input type="text" placeholder="Введите айди гуглдока" name="Google sheet id" id="googledoc">
       <button id="builder button" onclick="run_builder()">Заполнить движок</button>
       <br><br>
       <details>
           <summary>Что такое айди гуглдока</summary>
           <img src="googledocid">
       </details>
       <hr>
   </div>
   <div>
        <p>Результат: <span id="answer"></span></p>
   </div>
</body>
</html>