<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Instruction</title>
</head>
<body>
<details>
    <summary>Введение</summary>
    Бот сдается в аренду, в связи с чем есть ограничения на его использование.<br>
    Для начала чат, где он запускается, доолжен быть в списке разрешенных. Подать заявку на разрешение можно командой /ask_for_permission<br>
    Для указания игры - она также должна быть разрешена. Команда /ask_to_add_gameid + пробел + id игры.<br>
</details>
<details>
    <summary>Начало работы. Настройка бота</summary>
    Если чат разрешен (см. введение), то можно начинать работу с ботом.<br>
    По команде /start создается объект "сессия", содержащий всю информацию об учетке, домене, игре и текущих игровых переменных, таких как списки отправленных бонусов, подсказок, секторов и т.п.<br>
    Также в сессии записывается следующие настройки: активна ли сама сессии, запущено ли слежение, включен ли постинг в канал.<br>
    Для работы с движком нужны логин и пароль к сети Encounter. Задаются командами /login и /password. Значения задаются через пробел<br>
    Также необходимо задать домен и айди игры. Задаются командами /domain и /gameid. Значения задаются через пробел, на айди игры требуется разрешение. Домен можно прописать без http://<br>
</details>
<details>
    <summary>Запуск бота</summary>
    По команде /start_session - существующая сессия становится активной, бот логинится и получает информацию о текущем состоянии игры.<br>
    При активной сессии бот выполняет команды из игрового чата, может отправлять коды в игровой движок.<br>
    По команде /stop_session - существующая сессия становится неактивной, остановливается слежение и постинг в канал, если они были запущены. Сбрасываются все джойны личных чатов. Данные о текущих игровых переменных не стираются.<br>
    При выключенной сессии бот будет игнорировать команды из чата, за исключением обработки координат, изменения конфигурации и команд для работы с live locations.<br>
</details>
<details>
    <summary>Слежение за движком</summary>
    Команды /start_updater & /stop_updater запускают и останавливают слежение.<br>
    При активанном слежении бот с периодичностью в несколько секунд опрашивает движок о текущем состоянии игры, сравнивает с имеющейся у него информацией и отправляет изменения в игровой чат.<br>
    Бот отслеживает следующие изменения: АП уровня, получение подсказок, закрытые сектора, бонусные задания и взятые бонусы, сообщения авторов, снятие уровней.<br>
</details>
<details>
    <summary>Постинг в канал</summary>
    Команды /start_channel & /stop_channel запускают и останавливают постинг а канал.<br>
    Для работы постинга в канал - канал должен быть публичным, боту надо прописать имя канала командой /set_channel_name. Значение задается через пробел. Можно вводить без @<br>
    Бот пересылает в канал информацию об АПе, текст задания, посдсказки и сообщения авторов.<br>
</details>
<details>
    <summary>Настройка сдачи кодов</summary>
    Команды /codes_off & /codes_on - выключают и включают отправку кодов в движок.<br>
    Если надо остановить сдачу кодов ботом, из-за скриптов или по требованию авторов - достаточно выключить сдачу соответствующей командой.<br>
    В случае блокировки ответов на уровне - бот автоматически не отправляет коды из чата в основное окно, но может отправлять в бонусное - через знак ?<br>
</details>
</body>
</html>