<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Game details builder form</title>
    <style>
       #googledoc {
        width: 400px;
       }
    </style>
    <script>
        function getXmlHttp() {
            var xmlhttp;
            try {
              xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
            try {
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
              xmlhttp = false;
            }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
              xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }

        function run_builder(type_id) {
            var googledoc = document.getElementById("googledoc").value;
            var not_started_messages = {
                "1" : "Заполнение движка не запущено. Сообщите @JekaFST в телеграмме.",
                "2" : "Чистка движка не запущена. Сообщите @JekaFST в телеграмме.",
                "3" : "Перенос игры не запущен. Сообщите @JekaFST в телеграмме."
            }
            var started_messages = {
                "1" : "Заполнение движка запущено.",
                "2" : "Чистка движка запущена.",
                "3" : "Перенос игры запущен."
            }
            if (googledoc == '') {
                document.getElementById("builderstatus").innerHTML = 'Введите айди гуглдока';
                return
            }
            var xmlhttp = getXmlHttp();
            xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/' + googledoc + '?type_id=' + type_id, true);
            xmlhttp.send();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) {
                    if(xmlhttp.status == 200) {
                        if (xmlhttp.responseText == 'Previous is in progress') {
                            document.getElementById("builderstatus").innerHTML = 'Выполнение предыдущего запуска еще не закончено. Нельзя запустить повторно.';
                        } else if (xmlhttp.responseText == 'Not started') {
                            document.getElementById("builderstatus").innerHTML = not_started_messages[type_id];
                            document.getElementById("launchid").innerHTML = '';
                        } else {
                            document.getElementById("builderstatus").innerHTML = started_messages[type_id];
                            document.getElementById("launchid").innerHTML = xmlhttp.responseText;
                        }
                    }
                }
            };
        }

        function get_result() {
            var launch_id = document.getElementById("launchid").innerText;
            var xmlhttp = getXmlHttp();
            xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/result/' + launch_id, true);
            xmlhttp.send(); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) { // Ответ пришёл
                    if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                        var builder_result = xmlhttp.responseText;
                        document.getElementById("answer").innerHTML = builder_result;
                    }
                }
            };
        }

        function clean_game_transfer_ids() {
            var clean_game_id = document.getElementById("clean_game_id").value;
            var xmlhttp = getXmlHttp();
            xmlhttp.open('GET', 'https://jekafstbot.herokuapp.com/builder/clean_game_transfer_ids/' + clean_game_id, true);
            xmlhttp.send();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) { // Ответ пришёл
                    if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                        var clean_game_result = xmlhttp.responseText;
                        document.getElementById("clean_game_id_launch").innerHTML = clean_game_result;
                    }
                }
            };
        }
    </script>
</head>
<body>
   <div id="container">
       <a href="https://docs.google.com/spreadsheets/d/16--OmJQr9DeGCfLb3H19ddVJ0mp9UsiypX2xg67im6E" target="_blank">Пример заполнения гуглдока.</a><br>
       Создайте у себя копию гуглдока, чтобы из нее заполнять движок. Откройте доступ по ссылке хотя бы для чтения.<br>
       Либо всем, либо для пользователя jekafst@gmail.com. Скрипт читает гуглдок от этого пользователя.
       <br><br>
       <input type="text" placeholder="Введите айди гуглдока" name="Google sheet id" id="googledoc">
       <button id="builder fill button" onclick="run_builder(1)">Заполнить движок</button>
       <button id="builder del button" onclick="run_builder(2)">Очистить движок</button>
       <button id="builder move button" onclick="run_builder(3)">Перенести игру</button>
       <br><br>
       <input type="text" placeholder="Введите айди игры" name="Game id to clean" id="clean_game_id">
       <button id="clean_game_id button" onclick="clean_game_transfer_ids()">Очистить айдишники перенесенной игры</button>
       <br><br>
       <details>
           <summary>Что такое айди гуглдока</summary>
           <img src="googledocid">
       </details>
       <br>
       <button id="result button" onclick="get_result()">Обновить статус заполнения</button>
       <hr>
   </div>
   <div>
       <p>Статус запуска: <span id="builderstatus"></span></p>
       <p>ID запуска: <span id="launchid"></span></p>
       <p>Результат: <span id="answer"></span></p>
       <p>Очистка айдишников перенесенной игры: <span id="clean_game_id_launch"></span></p>
   </div>
</body>
</html>